body {
  font-family: Verdana, 'Arial Black', Arial, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(166, 166, 169);
}

img {
  width: 100%;
  height: auto;
  /* object-fit: cover; */
}
@media (max-width: 360px) {
  body {
    padding: 0rem;
  }
}

@media (min-width: 800px) {
  body {
    padding: 0rem;
  }
}
/* la largeur du viewport minimum 1200px */
@media (min-width: 1200px) {
  body {
    padding: 0rem;
  }
}

header {
  text-align: center;
  /* background-color: rgb(10, 233, 233); */
  color: black;
}
header h1 {
  padding-top: 15px;
}
nav img {
  width: 95%;
  height: 20%;
  opacity: 1;
}
nav p {
  text-align: center;
  /* width: 100%; */
  margin-left: 46px;
  margin-top: 30px;
  margin: 50px 30px 50px 30px;
}

ul {
  list-style-type: none;
  margin: auto;
  width: auto;
  height: auto;
}
div {
  width: auto;
  height: auto;
}
.menu {
  padding: 0;
  list-style-type: none;
  display: inline-flex;
  justify-content: space-evenly;
  /* text-align: center; */
  font: 1.5em sans-serif;
  /* border: 0.2rem solid rgb(255, 255, 251); */
  margin: 0px;
}
.menu li {
  display: block;
  border: 0.2rem solid rgb(38, 38, 38);
  text-align: center;
  width: auto;
  height: 20%;
  margin: 10px;
}
.menu li a {
  width: auto;
  height: auto;
  text-decoration: none;
  color: rgb(177, 0, 0);
}
#principale {
  text-align: center;
  width: auto;
  margin-left: 86px;
  margin-top: 30px;
  margin: 50px 30px 50px 30px;
}
#principale img {
  width: 500px;
}
#principale p {
  text-align: center;
  /* width: 100%; */
  margin-left: 86px;
  margin-top: 30px;
  margin: 50px 30px 50px 30px;
}




/* Responsive css */
/* Add a media query for devices with a maximum width of 360px */
@media (max-width: 360px) {
  body {
    font-size: smaller; /* Reduce the font size for smaller screens */
    padding: 0; /* Remove the padding */
  }
  
  header {
    padding: 10px; /* Add some padding to the header */
  }
  
  article {
    margin-left: 0; /* Remove the margin from the article */
  }
  
  /* Add similar adjustments for other elements as needed */
}


/* Add another media query for devices with a minimum width of 800px */
@media (min-width: 800px) {
  body {
    font-size: larger; /* Increase the font size for larger screens */
  }
  
  /* Add similar adjustments for other elements as needed */
}
