body {
  font-family: Verdana, 'Arial Black', Arial, Verdana, sans-serif;
  margin: 10px;
  padding: 10px;
  background-color: rgb(166, 166, 169);
  /* background-image: url(../img/moncockpit.JPG); */

  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
                  url(../img/moncockpit.JPG);
}

img {
  width: 100%;
  height: auto;
  /* object-fit: cover; */
}


nav img {
  width: 100%;
  height: 20%;
  opacity: 1;
}
nav p {
  text-align: center;
  /* width: 100%; */
  margin-left: 46px;
  margin-top: 30px;
  margin: 50px 30px 50px 30px;
}

nav h3 {
  text-align: center;
  /* width: 100%; */
  margin-left: 46px;
  margin-top: 30px;
  margin: 50px 30px 50px 30px;
}

ul {
  list-style-type: none;
  margin: auto;
  width: auto;
  height: auto;
}
div {
  width: auto;
  height: auto;
}
.option {
  border: 0.2rem solid rgb(236, 236, 0);

  margin: 10px;
}
.menu {
  padding: 10px;
  /* list-style-type: none; */
  /* display: flex;  */
  /* /* justify-content: space-evenly; */
  text-align: center;
  /* font: 1.5em sans-serif; */
  /* border: 0.2rem solid rgb(255, 255, 251); */
  /* margin: 10px; */
}
.menu li {
  display: block;
  border: 0.2rem solid rgb(107, 111, 117);
  /* text-align: center; */
  /* width: auto; */
}
.menu li a {
  width: auto;
  height: auto;
  text-decoration: none;
  color: rgb(44, 110, 231);
}
#principale {
  text-align: center;
  width: auto;
  /* margin-left: 86px;
  margin-top: 30px; */
  /* margin: 50px 30px 50px 30px; */
}
#principale img {
  width: 500px;
}
#principale p {
  text-align: center;
  /* width: 100%; */
  margin-left: 86px;
  margin-top: 30px;
  margin: 50px 30px 50px 30px;
}




/* Responsive css */
/* Add a media query for devices with a maximum width of 360px */
@media (max-width: 360px) {
  body {
    font-size: smaller; /* Reduce the font size for smaller screens */
    padding: 0; /* Remove the padding */
  }
  
  header {
    padding: 10px; /* Add some padding to the header */
  }
  
  article {
    margin-left: 0; /* Remove the margin from the article */
  }
  
  /* Add similar adjustments for other elements as needed */
}


/* Add another media query for devices with a minimum width of 800px */
@media (min-width: 800px) {
  body {
    font-size: larger; /* Increase the font size for larger screens */
  }
  
  /* Add similar adjustments for other elements as needed */
}
